/*

### Cargo ###
!/.gitignore
!/Cargo.lock
!/Cargo.toml

### Project ###
!/src
!/build.rs

## Tests ##
!/test-builds.bat

## Benched ##
!/benches

## Docs ##
!/README.md
!/README_zh.md
!/CHANGELOG.md

## License ##
!/LICENSE-MIT
!/LICENSE-APACHE
